.car-list-btn-group {
    display: flex;
}

.car-list-tab-search {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.car-list-grid {
    display: flex;
    justify-content: space-between;
    
}