.nav-bar-main {
  background-color: black;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  .nav-link {
    color: aliceblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      transform: scale(1.2);
    }
  }
}

.nav-bar-logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  float: left;
  &:hover {
    transform: scale(1.2);
    text-decoration: underline;
  }
}

.nav-bar-car-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .nav-bar-car-link {
    margin-right: 1rem;

    &:hover {
      transform: scale(1.2);
      text-decoration: underline;
    }
  }
}

.nav-bar-profile-img {
  vertical-align: middle;
  width: 2rem;
  display: inline;
  text-decoration: none;
}

.nav-bar-cart-img {
  vertical-align: middle;
  width: 2rem;
  &:hover {
    transform: scale(1.2);
  }
  border-radius: 2px;
  display: inline;
}

.nav-bar-wish-icon {
  vertical-align: middle;
  width: 1.5rem;
  border-radius: 2px;

  &:hover {
    transform: scale(1.2);
  }

  display: inline;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .nav-cart-container {
    padding-right: 1.5rem;
    color: white;
  }
}

.wish-count {
  vertical-align: super;
  padding-left: 0.2rem;
  :hover {
    text-decoration: none;
  }
}

.nav--cart-count {
  vertical-align: super;
}

.logout-btn {
  border-radius: 5px;
  &:hover {
    transform: scale(1.1);
  }
}
