.nav-bar-main {
  background-color: black;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  a {
    color: aliceblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      transform: scale(2);
    }
  }
}

.nav-bar-logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  float: left;
}

.nav-bar-car-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .nav-bar-car-link {
    margin-right: 1rem;
  }
}

.nav-bar-profile-img {
  vertical-align: middle;
  width: 2rem;
}

.nav-bar-cart-img {
  vertical-align: middle;
  width: 2rem;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;

  .cart-div {
    padding-right: 1.5rem;
  }
}
