.cart-item-card-container {
  display: inline-block;
  box-shadow: 1px 1px 10px lightgray;
  text-align: start;
  border-radius: 0.25rem;
  padding-bottom: 1rem;
  margin: 1rem;
  img {
    border-radius: inherit;
  }
}

.card-item {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content > div {
  flex: 1;
}

.car-title {
  font-size: larger;
  font-weight: 500;
}

.car-price {
  font-size: small;
  font-weight: 500;
  color: grey;
}

.cart-item-quantity-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  max-width: 65%;
}
