$primary-red: #790e22;
$primary-black: #000000;
$primary-light: #f5f5f5;

$default-button-disabled: rgb(240, 240, 240);
$primary-red-disabled: #771325c0;
$primary-black-disabled: #000000bd;

$primary-red-shadow: #7713257c;
$primary-black-shadow: #676767;
