@import"../../stylesheets/abstracts/colors";
.signup{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .signup__text-danger{
        color: $primary-error-message
    }
    
    .signup__text-success{
        color:$primary-success-message
    }
}

.signup__box{
    padding: 1rem;
    
    width: 40rem;
    border: 1px solid $border-color;
    
    border-radius: 1%;
}

.signup__form-element{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    input{
        width: 60%;
        height: 2rem;
        border-radius: 0.25rem;
        border: 1px solid $border-color;
    }
    padding: 0.4rem 0;
}

.signup__button{
    margin-top: 1rem;
}



